/*
 *  body part of css of the website
 */

html, body{	 
	height : 100%;
}

*{
	box-sizing : border-box;
}

#Aboutme{
	background-color:#178076; 
	color: #fff; 
	font-family:'Comic Sans MS', cursive, sans-serif;
	margin: auto;
}

.left{
	float : left;
}

.right{
	float : right;
}

.mid{
	
}