/*
 *  body part of css of the website
 */

html, body{	 
	height : 100%;
}

*{
	box-sizing : border-box;
}

.left{
	float : left;
}

.right{
	float : right;
}

.mid{
	text-align : center;
	margin : auto;
}

#Aboutme{
	background-color:#178076; 
	color: #fff; 
	font-family:'Comic Sans MS', cursive, sans-serif;
}

#Undergraduate{
	background-color:#ededed;
}

#Graduate{
	background-color:#dfdfdf;
}

#Projects{
	background-color:#ededed;
}

#Skills{

}

#Slideshow{
	padding : 10px; 
	background-color : #dfdfdf;
}